"*":
  "autocomplete-plus":
    fileBlacklist: [
      ".*"
      "*.md"
    ]
  core:
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    scrollPastEnd: true
    showIndentGuide: true
  pigments:
    markerType: "native-square-dot"
  "spell-check":
    locales: [
      "en-US"
    ]
  welcome:
    showOnStartup: false
