"*":
  "autocomplete-plus":
    fileBlacklist: [
      ".*"
      "*.md"
    ]
  core:
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    disabledPackages: [
      "metrics"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "05e3fa8a-e241-4781-9c1e-8aa8900c824d"
  pigments:
    markerType: "native-square-dot"
  "spell-check":
    locales: [
      "en-US"
    ]
  welcome:
    showOnStartup: false
